.Global {
    background-color: white;
}

.Global-button-login {
    position: flex;
    width: 240px;
    height: 37.5px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 15px;
}

.Global-button-sign-up {
    position: inherit;
    width: 180px;
    height: 37.5px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 15px;
    margin-right:1%;
}

.Global-button-forgot-password {
    position: inherit;
    width: 180px;
    height: 37.5px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 15px;
}

.Global-button-login-div {
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.Global-button-div {
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

.Global-button-href-styling {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.Global-text {
    position: flex;
    width: 254px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

.Global-test {
    margin-top: 100px;
    color: black;
    padding: -100px;
    text-align: center;
}

.Global-test-2 {
    margin-top: 20px;
    color: black;
    padding: -100px;
    text-align: center;
}
.Global-input-box {
    margin-top: 2.5%;
    border-radius: 22px 22px 22px 22px;
    height: 37.5px;
    width: 300px;
    text-align: center;
    font-size: 12px;
}
.Global-forgot-password-text {
    font-size: 10px;
    margin-top: 1%;
}

.Global-ellipse-blue {
    position: flex;
    width: 230px;
    height: 230px;
    left: -10px;
    top: -127px;
    border-radius: 50%;

    background: rgba(0, 148, 255, 0.25);
}

.Global-ellipse-red {
    position: flex;
    width: 230px;
    height: 230px;
    left: -106px;
    top: 84px;    
    border-radius: 50%;

    background: rgba(255, 0, 0, 0.25);
}

.Global-ellipses {
    position: absolute;
}