.Global {
    background-color: white;
}

.Global-button-login {
    position: flex;
    width: 120px;
    height: 25px;
    left: 68px;
    top: 666px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 10px;
}

.Global-button-sign-up {
    position: flex;
    width: 120px;
    height: 25px;
    left: 68px;
    top: 666px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 10px;
}

.Global-button-forgot-password {
    position: flex;
    width: 120px;
    height: 25px;
    left: 68px;
    top: 666px;
    background: rgba(0, 148, 255, 0.25);
    border-radius: 10px;
}

.Global-button-login-margin {
    align-content: center;
    position: center;
    margin-left: 130px;
}

.Global-text {
    position: flex;
    width: 254px;
    height: 48px;
    left: 75px;
    top: 598px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

.Global-test {
    margin-top: 100px;
    color: black;
    padding: -100px;
    text-align: center;
}

.Global-test-2 {
    margin-top: 20px;
    color: black;
    padding: -100px;
    text-align: center;
}
.Global-input-box {
    border-radius: 15px 15px 15px 15px;
}

.Global-ellipse-blue {
    position: flex;
    width: 230px;
    height: 230px;
    left: -10px;
    top: -127px;
    border-radius: 50%;

    background: rgba(0, 148, 255, 0.25);
}

.Global-ellipse-red {
    position: flex;
    width: 230px;
    height: 230px;
    left: -106px;
    top: 84px;    
    border-radius: 50%;

    background: rgba(255, 0, 0, 0.25);
}

.Global-ellipses {
    position: absolute;
}