.root-style {
    display: flex;
}

.ellipse-blue {
    /* display: flex; */
position: absolute;
width: 258px;
height: 230px;
left: -5px;
top: -142px;

background: rgba(0, 148, 255, 0.25);}

.ellipse-red {
    /* display: flex; */
    width: 230px;
    height: 230px;
    left: -106px;
    top: 84px;
    border-radius: 50%;

    background: rgba(255, 0, 0, 0.25);
}

.ellipses {
    /* display: flex; */
    position: absolute;
    top: 15px;
    /* top: 8px;
    left: 16px; */
}

.nav-bar {
    position: relative;
    background: transparent;;
    border: none;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    /* top: 0; */
    background: white;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.menuNav.showMenu {
    width: 100%;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    /* position: absolute; */
}

.title-fix {
    margin-top: 0px;
}

.sheep {
    margin-top: 20%;
    margin-bottom: -15%;
    display: flex;
    justify-content: center;
    /* margin-top: 1px; */
}

.sheep-image {
    height: 200px;
    width: 160px;
}

.welcome-message {
    background-color: lightblue;
    /* border-radius:2%; */

    padding: 2%;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    margin-top: 55%;
    border-radius: 15px;

}

.calibration-instructions-message {
    background-color: lightblue;
    /* border-radius:2%; */

    padding: 2%;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    margin-top: 20%;
    border-radius: 15px;
}
.welcome-text {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.instructions-header {
    text-align: center;
}
.instructions-text {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: left;
}

.buttons-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
}

.button-style-home {
    position: inherit;
    width: 280px;
    height: 50px;
    background: linear-gradient(90deg, rgba(0, 76, 132, 0.46) 6.72%, #5999C7 56.72%);    
    border-radius: 16px;
    margin-right: 1%;
    margin-top: 10%;
}

.button-style-else {
    position: inherit;
    width: 280px;
    height: 50px;
    background: linear-gradient(90deg, rgba(0, 76, 132, 0.46) 6.72%, #5999C7 56.72%);    
    border-radius: 16px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 3%;
}

.button-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.disabled {
    pointer-events:none;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.input-box-profile {
    font-size: 12px;
    margin-left: 3%;
}

.input-box-notebook {
    font-size: 16px;
    height: 250px;
    width: 70%;
    text-align: top;
}